* {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	border-radius: 25px;
}

.container {
	position: relative;
	display: grid;
	margin: 2vh auto auto auto;
	grid-template-columns: 1fr 1.5fr;
	grid-template-rows: 0.2fr 1fr 1.5fr;
	grid-template-areas:
	"select-button select-button"
	"ice-bin manual"
	"sp-rack manual";
	width: 40rem;
	height: 42rem;
	grid-gap: 20px;
}

.select-button {
	grid-area: select-button;
	height: 2.5rem;
	width: 10rem;
}


.ice-bin {
	grid-area: ice-bin;
	border-collapse: separate;
	border-spacing: 0.75rem 0.75rem;
	border: 1px solid grey;
}

.sp-rack {
	grid-area: sp-rack;
	border-collapse: separate;
	border-spacing: 0.2rem 0.2rem;
	border: 2px solid grey;
	border-radius: 5%;
	margin-top: 20px;
	width: 100%;
}

.sp-bottle {
	background-color: grey;
	border: 3px solid transparent;
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
}

.sp-bottle-selected {
	border: 3px solid lime;
}

.manual {
	grid-area: manual;
	border: 1px solid grey;
	padding: 2% 5%;
}

.manual pre {
	font-size: 0.9rem;
}

